<section class="container">
   <section class="innerContainer1">
      <app-animal-list></app-animal-list>
      <section class="farmChart">
         <label>Animals by Farm</label>
         <app-farm-chart></app-farm-chart>
      </section>
   </section>
   <section class="innerContainer">
      <app-animal-list-specie></app-animal-list-specie>
      <section class="farmChart">
         <label>Animals by Species</label>
         <app-species-chart></app-species-chart>
      </section>
   </section>
</section>